Source: rbtools
Section: python
Priority: optional
Maintainer: Tzafrir Cohen <tzafrir@debian.org>
Build-Depends: debhelper (>= 7), python (>= 2.5)
Build-Depends-Indep: python-support (>= 0.5.3), python-setuptools
Standards-Version: 3.9.0
Homepage: http://www.reviewboard.org/
Vcs-Git: git://git.debian.org/~tzafrir/rbtools.git
Vcs-Browser: http://git.debian.org/?p=users/tzafrir/rbtools.git;a=summary

Package: python-rbtools
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-simplejson
Provides: ${python:Provides}
Description: collection of console utility scripts for use with Review Board
 collection of console utility scripts for use with the Review Board code
 review system.
